<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='images/apple-icon-57x57.png') }}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='images/apple-icon-60x60.png') }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/apple-icon-72x72.png') }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='images/apple-icon-76x76.png') }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/apple-icon-114x114.png') }}"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='images/apple-icon-120x120.png') }}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='images/apple-icon-144x144.png') }}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='images/apple-icon-152x152.png') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-icon-180x180.png') }}"/>
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='images/android-icon-192x192.png') }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}"/>
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='images/favicon-96x96.png') }}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}"/>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='images/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
          integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
          crossorigin="anonymous" />
    <link href="{{ url_for('static', filename='css/main.3.css') }}" rel="stylesheet">
    <title>Brain Conductor - {% block title %}{% endblock %}</title>
</head>
{% if google_measurement_id %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ google_measurement_id }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ google_measurement_id }}');
</script>
{% endif %}
<body>
    <div class="cover-container d-flex h-100 mx-auto flex-column">
        <!-- Modal -->
        <div class="modal fade" id="contact_us_modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="">
                        <button type="button" class="close modal-close-btn" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div></div>
                        <div class="d-flex flex-column modal-headings">
                            <h3>Want to contact us?</h3>
                            <p>Do you have a specific data stream or feature you'd like to inquire about or request?</p>
                        </div>
                        <form id="contact-us-form" class="m-0 p-0 cf" onsubmit="return false;"
                              autocomplete="off">
                            <div class="input_fields">
                                <label> Name:
                                    <input type="text" name="name_honeypot" placeholder=""
                                           required style="box-shadow: none" class="form-control modal-input "/>
                                    <div class="invalid-feedback"></div>
                                </label>
                                <label> Email:
                                    <input type="email" name="email_honeypot" placeholder=""
                                           required style="box-shadow: none" class="form-control modal-input "/>
                                    <div class="invalid-feedback"></div>
                                </label>
                                <label> Comment:
                                    <textarea type="text" name="comments" placeholder=""
                                           required style="box-shadow: none" class="form-control"></textarea>
                                    <div class="invalid-feedback"></div>
                                </label>
                                <input class="hp-field" autocomplete="off" type="text" name="name" placeholder="Name"/>
                                <div class="form-error invalid-feedback"></div>
                                <button type="submit" class="btn modal-submit-button show">Submit</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-md navbar-light">
            <!-- Brand -->
            <a href="/" class="navbar-brand">
                <img src="{{ url_for('static', filename='images/bc_logo.png') }}" class="container-brand d-none d-md-block" alt="bc-logo" width="280vh" />
                <img src="{{ url_for('static', filename='images/bc_mobile_logo.png') }}" class="container-brand d-md-none" alt="bc-logo-mobile" width="200vh" />
            </a>
            <!-- Hamburger Toggle -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapse Menu Items -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <nav class="nav nav-container justify-content-center">
                        <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLScBQRgysQe1lZAHUhXhRfQ7BWhlahNlcmMhfeGWWlCmTIZMcg/viewform?usp=sf_link" target="_blank" rel="noopener">FEEDBACK</a>
                        <a class="nav-link" href="https://zetta.fi" target="_blank" rel="noopener">ABOUT US</a>
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#contact_us_modal">CONTACT US</a>
                    </nav>
                </ul>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/main.7.js') }}" type="module"></script>
</body>
</html>
